<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodReceipe"
        tools:targetApi="31">
        <activity
            android:name=".details.sateayam"
            android:exported="false" />
        <activity
            android:name=".details.nasijagung"
            android:exported="false" />
        <activity
            android:name=".details.nasikuning"
            android:exported="false" />
        <activity
            android:name=".details.nasicampur"
            android:exported="false" />
        <activity
            android:name=".details.nasiliwet"
            android:exported="false" />
        <activity
            android:name=".details.nasiuduk"
            android:exported="false" />
        <activity
            android:name=".details.ikanbakar"
            android:exported="false" />
        <activity
            android:name=".details.steak"
            android:exported="false" />
        <activity
            android:name=".details.ayampanggang"
            android:exported="false" />
        <activity
            android:name=".details.spagethibolognese"
            android:exported="false" />
        <activity
            android:name=".details.kwetiaugoreng"
            android:exported="false" />
        <activity
            android:name=".details.chesecake"
            android:exported="false" />
        <activity
            android:name=".details.milecrepes"
            android:exported="false" />
        <activity
            android:name=".details.misosup"
            android:exported="false" />
        <activity
            android:name=".details.mieayam"
            android:exported="false" />
        <activity
            android:name=".details.sotoayam"
            android:exported="false" />
        <activity
            android:name=".details.suppangsit"
            android:exported="false" />
        <activity
            android:name=".details.whoopiepie"
            android:exported="false" />
        <activity
            android:name=".details.caketart"
            android:exported="false" />
        <activity
            android:name=".details.brownies"
            android:exported="false" />
        <activity
            android:name=".details.cupcake"
            android:exported="false" />
        <activity
            android:name=".details.macaron"
            android:exported="false" />
        <activity
            android:name=".details.ramyeon"
            android:exported="false" />
        <activity
            android:name=".details.ramen"
            android:exported="false" />
        <activity
            android:name=".details.Supkonro"
            android:exported="false" />
        <activity
            android:name=".details.Supjagung"
            android:exported="false" />
        <activity
            android:name=".details.Supbuntut"
            android:exported="false" />
        <activity
            android:name=".details.Nicoise_salad"
            android:exported="false" />
        <activity
            android:name=".details.Salad_Sayur"
            android:exported="false" />
        <activity
            android:name=".details.Salad_Buah"
            android:exported="false" />
        <activity
            android:name=".details.Gado_gado"
            android:exported="false" />
        <activity
            android:name=".details.Somtum"
            android:exported="false" />
        <activity
            android:name=".Detailssalad"
            android:exported="false" />
        <activity
            android:name=".Detailsmeat"
            android:exported="false" />
        <activity
            android:name=".kategorimakanan.Noodle"
            android:exported="false" />
        <activity
            android:name=".kategorimakanan.Cake"
            android:exported="false" />
        <activity
            android:name=".kategorimakanan.Soup"
            android:exported="false" />
        <activity
            android:name=".kategorimakanan.Cookies"
            android:exported="false" />
        <activity
            android:name=".kategorimakanan.Meat"
            android:exported="false" />
        <activity
            android:name=".kategorimakanan.Salad"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>